.firstRow {
	height: 30px;
}

.header-status {
	font-variant: small-caps;
	font-size: 14px;
	vertical-align: bottom;
}

.header-lineScore {
	font-size: 12px;
	width: 25;
	text-align: end;
	vertical-align: bottom;
}

.header-spread {
	font-size: 12px;
	vertical-align: bottom;
	text-align: center;
}

.header-others {
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
}

.header-pick {
	font-size: 14px;
	text-align: center;
	vertical-align: bottom;
}

.header-score {
	font-size: 14px;
	text-align: center;
	vertical-align: bottom;
}

.header-compare {
	font-size: 12px;
	text-align: center;
	vertical-align: bottom;
}

.selectCompare {
	font-size: 14px;
	text-align: center;
	padding: 0.125rem;
}

.logo {
	text-align: center;
	vertical-align: middle;
}

.rank {
	text-align: end;
	font-size: 12px;
	font-weight: bold;
}

.teamName {
	font-size: 14px;
	font-variant: small-caps;
	font-weight: bold;
}

.record {
	font-size: 11px;
	font-weight: bold;
}

.lineScore {
	font-size: 14px;
	text-align: end;
}

.total {
	font-size: 16px;
	text-align: end;
	font-weight: bold;
}

.spread {
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}

.othersPicks {
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}

.venueName {
	font-size: 14px;
}

.cityState {
	font-size: 12px;
}

.espnLink {
	font-size: 14px;
}

.selectPick {
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
}

.score {
	font-size: 14px;
	text-align: center;
	width: 46px;
}

.scoreWinner {
	font-weight: bold;
}

.lastRow {
	height: 27px;
	font-size: 14px;
	font-variant: small-caps;
}

.pickEm {
	font-variant: small-caps;
}

.loserSelect {
	background: var(--bs-secondary-bg-subtle) !important;
	color: #41484f !important;
}

.possession::after {
	content: '⬬';
}

.redzone::after {
	color: red;
}

.gameStatus {
	font-variant: small-caps;
	font-size: 14px;
	vertical-align: bottom;
	font-weight: bold;
}

.pickEm {
	font-size: 24px;
	font-weight: bold;
}

.hamburger {
	vertical-align: top;
	display: inline;
}

.logOut {
	text-align: center !important;
}

.gotw {
	background: #140330;
}